.post {
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}
.post__body {
  padding: 10px;
}
.post__header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.post__avatar {
  display: flex;
}
/* .post__body > img {
  border-radius: 20px;
  width: 100%;
} */
.post__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}
.post__headerText {
  margin: 5px;
  font-size: 15px;
}
.btn-close {
  color: gray;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.post__headerDesc {
  font-size: 15px;
  margin-left: 4em;
  color: gray;
}
.btn {
  background-color: white;
  border: none;
}
